<!DOCTYPE html>
<html lang="cz-cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container main-container my-3" th:fragment="main">
    <article>
        <header class="container mt-3">
                <div class="row">
                    <div class="col-md-2">
                        <img src="#" alt="ikona pojištěnce">
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="h2" th:text="${insured.name + ' ' + insured.surname}"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <p th:text="${insured.street}"></p>
                                <p th:text="${insured.city}"></p>
                                <p th:text="${insured.zipcode}"></p>
                            </div>
                            <div class="col-md-4">
                                <p th:text="${insured.email}"></p>
                                <p th:text="${insured.phoneNumber}"></p>
                            </div>
                        </div>
                    </div>
                </div>
        </header>

        <section class="mt-5">
            <h2 class="h2">Sjednaná pojištění</h2>

            <table class="table table-bordered" id="insurances">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Předmět pojištění</th>
                    <th scope="col" class="align-middle">Částka</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="insurance: ${insurances}" >
                    <td><a th:href="@{/database/insurances/{id}(id=${insurance.insuranceId})}" th:text="${insurance.insuranceSubject}" class="align-middle"></a></td>
                    <td th:text="${insurance.amount}" class="align-middle"></td>
                    <td>
                        <a class="btn btn-danger mr-2" th:href="@{/database/insurances/delete}">Odstranit</a>
                        <a class="btn btn-warning" th:href="@{'/database/insurances/edit/' + ${insurance.insuranceId}}">Editovat</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p class="container-flex">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-primary mx-1" th:href="@{'/database/insurances/create?insuredId=' + ${insured.insuredId}}">Přidat pojištění</a>
                    <a class="btn btn-warning text-light mx-1" th:href="@{'/database/insureds/edit/' + ${insured.insuredId}}">Editovat pojištěnce</a>
                    <a class="btn btn-danger mx-1" th:href="@{/database/insureds/create}">Odstranit pojištěnce</a>
                </div>
            </p>

            <p class="text-center">
                <a class="btn btn-primary mt-2" th:href="@{/database/insureds}">Zpět na seznam</a>
            </p>

            <p>Navigace: Předchozí, další, 1,2,3...</p>
        </section>
    </article>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>