<!DOCTYPE html>
<html lang="cz-cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container main-container my-3" th:fragment="main">
    <article>
        <header>
            <h2 class="h2">Pojištěnci</h2>
        </header>

        <section>
            <p class="text-center">
                <a class="btn btn-primary" th:href="@{/database/insureds/create}">Nový pojištěnec</a>
            </p>

            <ul class="list-group" id="insureds">

            </ul>
            <p>Navigace: Předchozí, další, 1,2,3...</p>
        </section>
    </article>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>