<!DOCTYPE html>
<html lang="cz-cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container main-container my-3" th:fragment="main">
    <div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>

    <article>
        <header>
            <h2 class="h2">Pojištěnci</h2>
        </header>

        <section>
            <p class="text-center">
                <a class="btn btn-primary" th:href="@{/database/insureds/create}">Nový pojištěnec</a>
            </p>

            <table class="table table-bordered" id="insureds">
               <thead>
                   <tr>
                       <th scope="col" class="align-middle">Jméno</th>
                       <th scope="col" class="align-middle">Bydliště</th>
                       <th scope="col"></th>
                   </tr>
               </thead>
               <tbody>
                   <tr th:each="insured: ${insureds}" >
                       <td><a th:href="@{'/database/insureds/' + ${insured.insuredId}}" th:text="${insured.name + ' ' + insured.surname}" class="align-middle"></a></td>
                       <td th:text="${insured.street + ', ' + insured.city}" class="align-middle"></td>
                       <td class="d-flex gap-2">
                           <form th:action="@{/database/insureds/delete}" method="post" th:object="${insured}">
                               <input type="hidden" th:name="insuredId" th:value="${insured.insuredId}" />
                               <button type="submit" class="btn btn-danger mr-2">Odstranit</button>
                           </form>
                           <a class="btn btn-warning" th:href="@{'/database/insureds/edit/' + ${insured.insuredId}}">Editovat</a>
                       </td>
                   </tr>
               </tbody>
            </table>


        </section>
    </article>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>