<!DOCTYPE html>
<html lang="cz-cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container main-container my-3" th:fragment="main">
    <article>
        <header>
            <h2 class="h2">Detail pojištění</h2>
        </header>

        <section class="mt-5">
            <ul class="list-group">
                <li class="list-group-item" th:text="${'Typ pojištění: ' + insurance.insuranceType}"></li>
                <li class="list-group-item" th:text="${'Předmět pojištění: ' + insurance.insuranceSubject}"></li>
                <li class="list-group-item" th:text="${'Částka: ' + insurance.amount}"></li>
                <li class="list-group-item" th:text="${'Platné od: ' + insurance.validFrom}"></li>
                <li class="list-group-item" th:text="${'Platné do: ' + insurance.validTo}"></li>
            </ul>

            <p class="container-flex">
            <div class="d-flex justify-content-center">
                <a class="btn btn-primary mx-1" th:href="@{'/database/incidents/create?insuranceId=' + ${insurance.insuranceId}}">Přidat pojistnou událost</a>
                <a class="btn btn-warning text-light mx-1" th:href="@{'/database/insurances/edit/' + ${insurance.insuranceId}}">Editovat pojištění</a>
            <form th:action="@{/database/insurances/delete}" method="post" th:object="${insurance}">
                <input type="hidden" th:name="insuranceId" th:value="${insurance.insuranceId}" />
                <button type="submit" class="btn btn-danger mr-2">Odstranit pojištění</button>
            </form>
            </div>
            </p>

            <p class="text-center">
                <a class="btn btn-primary mt-2" th:href="@{/database/insurances}">Zpět na seznam</a>
            </p>

            <p>Navigace: Předchozí, další, 1,2,3...</p>
        </section>
    </article>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>

