<!DOCTYPE html>
<html lang="cz-cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container main-container my-3" th:fragment="main">
    <article>
        <header>
            <h2 class="h2">Pojištění</h2>
        </header>

        <sections>
            <p class="text-center">
                <a class="btn btn-primary" th:href="@{/database/insurances/create}">Nové pojištění</a>
            </p>

            <table class="table table-bordered" id="insurances">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Id pojištění</th>
                    <th scope="col" class="align-middle">Jméno pojištěnce</th>
                    <th scope="col" class="align-middle">Předmět pojištění</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="insurance: ${insurances}" >
                    <td><a th:href="@{'/database/insurances' + ${insurance.insuranceId}}" th:text="${insuranceId}" class="align-middle"></a></td>
                    <td th:text="${insurance.insuredEntity.name + ' ' + insurance.insuredEntity.surname}"></td>
                    <td th:text="${insurance.insuranceSubject}" class="align-middle"></td>
                    <td>
                        <a class="btn btn-danger mr-2" th:href="@{/database/insurances/delete}">Odstranit</a>
                        <a class="btn btn-warning" th:href="@{/database/insurance/edit}">Editovat</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>Navigace: Předchozí, další, 1,2,3...</p>
        </sections>
    </article>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>