<!DOCTYPE html>
<html lang="cz-cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container main-container my-3" th:fragment="main">
    <article>
        <header>
            <h2 class="h2">Detail pojistné události</h2>
        </header>

        <section class="mt-5">
            <ul class="list-group">
                <li class="list-group-item" th:text="${'Název události: ' + incident.title}"></li>
                <li class="list-group-item" th:text="${'Popis události: ' + incident.description}"></li>
                <li class="list-group-item" th:text="${'Datum události: ' + incident.incidentDate}"></li>
                <li class="list-group-item" th:text="${'Pojistné plnění: ' + incident.insuranceAmount}"></li>
            </ul>

            <p class="container-flex">
            <div class="d-flex justify-content-center">
                <a class="btn btn-warning text-light mx-1" th:href="@{'/database/incidents/edit/' + ${incident.incidentId}}">Editovat pojistnou událost</a>
            <form th:action="@{/database/incidents/delete}" method="post" th:object="${incident}">
                <input type="hidden" th:name="incidentId" th:value="${incident.incidentId}" />
                <button type="submit" class="btn btn-danger mr-2">Odstranit pojistnou událost</button>
            </form>
            </div>
            </p>

            <p class="text-center">
                <a class="btn btn-primary mt-2" th:href="@{/database/incidents}">Zpět na seznam</a>
            </p>

            <p class="text-center">Navigace: Předchozí, další, 1,2,3...</p>

        </section>
    </article>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>