<!DOCTYPE html>
<html lang="cz-cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container main-container my-3" th:fragment="main">
    <article>
        <header>
            <h2 class="h2">Pojistné události</h2>
        </header>

        <sections>

            <table class="table table-bordered mt-3" id="incidents">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Id pojistné události</th>
                    <th scope="col" class="align-middle">Název pojistné události</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="incident: ${incidents}" th:if="${incident != null}" >
                    <td><a th:href="@{'/database/incidents/' + ${incident.incidentId}}" th:text="${incident.incidentId}"></a></td>
                    <td th:text="${incident.title}" class="align-middle"></td>
                    <td>
                        <a class="btn btn-danger mr-2" th:href="@{/database/insurances/delete}">Odstranit</a>
                        <a class="btn btn-warning" th:href="@{/database/insurances/edit}">Editovat</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <p>Navigace: Předchozí, další, 1,2,3...</p>
        </sections>
    </article>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>