<!DOCTYPE html>
<html lang="cz-cs" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout.html :: head}"></head>
<body>
<header th:replace="~{fragments/layout.html :: header}"></header>

<div class="container main-container my-3" th:fragment="main">
    <div class="py-2 flash-message message-success" th:text="${success}" th:if="${success}"></div>

    <article>
        <header>
            <h2 class="h2">Pojistné události</h2>
        </header>

        <sections>

            <table class="table table-bordered mt-3" id="incidents">
                <thead>
                <tr>
                    <th scope="col" class="align-middle">Id pojistné události</th>
                    <th scope="col" class="align-middle">Název pojistné události</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="incident: ${incidents}" th:if="${incident != null}" >
                    <td><a th:href="@{'/database/incidents/' + ${incident.incidentId}}" th:text="${incident.incidentId}"></a></td>
                    <td th:text="${incident.title}" class="align-middle"></td>
                    <td class="d-flex gap-2">
                        <form th:action="@{/database/incidents/delete}" method="post" th:object="${incident}">
                            <input type="hidden" th:name="incidentId" th:value="${incident.incidentId}" />
                            <button type="submit" class="btn btn-danger mr-2">Odstranit</button>
                        </form>
                        <a class="btn btn-warning" th:href="@{'/database/incidents/edit/' + ${incident.incidentId}}">Editovat</a>
                    </td>
                </tr>
                </tbody>
            </table>


        </sections>
    </article>
</div>

<footer th:replace="~{fragments/layout.html :: footer}"></footer>
</body>
</html>